/* * {
  border: 1px dashed red;
} */

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #cbcbd4;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: #274690;
  color: var(--secondary-text-color);
  position: relative;

  > .dashboard {
    display: flex;
    gap: 10px;
    margin: 20px 0 0 20px;

    > img {
      max-width: 20px;
    }
  }

  .logo {
    margin: 30px 30px 0;
    position: absolute;
    bottom: 30px;
  }

  .menu {
    margin: 50px 0 0 20px;
    font-size: 1.3rem;

    > ul > li {
      margin: 20px 0 10px 0;
      display: flex;
      gap: 10px;
    }
  }

  .main-menu,
  .settings-menu {
    margin: 50px 0 0 20px;
    font-size: 1.3rem;

    > ul > li {
      margin: 20px 0 10px 0;
      display: flex;
      gap: 10px;
    }

    > ul > li > img {
      max-width: 20px;
    }
  }
}

.header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border-bottom: 2px solid rgb(203, 203, 212, 0.8);
  box-shadow: 0px 8px 7px 0px rgba(203, 203, 212, 0.8);

  .search {
    margin: 0 40px 0 20px;
    display: flex;
    gap: 10px;
    align-items: center;

    > button {
      border-style: none;
    }

    > img {
      max-width: 20px;
    }

    #search-bar {
      width: 100%;
      height: 30px;
      margin: 25px 0;
      padding: 5px;
      background-color: #cbcbd4;
      border-style: none;
      border-radius: 5px;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .notification-icon {
      max-width: 25px;
    }

    .user-icon {
      max-width: 50px;
    }
  }

  .welcome-message {
    margin: 0 40px 0 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
  }

  .user-icon {
    max-width: 50px;
  }

  .buttons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;

    > button {
      border-radius: 20px;
      padding: 10px;
      border-style: none;
      background-color: #274690;
      color: #cbcbd4;
      font-weight: bold;
    }
  }
}

.main-container {
  margin: 30px;
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;

  .projects-container {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 100%));
    grid-template-rows: 50px repeat(3, minmax(300px, 100%));
  }

  .projects-title {
    grid-column: 1 / 3;
  }

  .announcements-container {
    margin: 0 20px;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 50px repeat(3, 1fr);
  }

  .trending-container {
    margin: 0 20px;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
}
