/* * {
  border: 1px dashed red;
} */

.page-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  border: 1px dashed red;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px dashed red;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
